name: Release

on:
  push:
    tags:
      - 'v*' 

jobs:
  build:
    name: Build & Release
    runs-on: ubuntu-latest
    permissions:
      contents: write
      
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: goto-bus-stop/setup-zig@v2
        with:
          version: 0.13.0 # 
          use-cache: false

      - name: Build Linux (x86_64)
        run: |
          zig build -Doptimize=ReleaseFast -Dtarget=x86_64-linux
          mv zig-out/bin/zog zog-linux-amd64

      - name: Build macOS (Apple Silicon)
        run: |
          zig build -Doptimize=ReleaseFast -Dtarget=aarch64-macos
          mv zig-out/bin/zog zog-macos-arm64


      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            zog-linux-amd64
            zog-macos-arm64
            zog-windows-amd64.exe